  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-branca-pri: #ffffff;
    --cor-cinza-sec: #C0C0C0;
    --cor-azul-bot: #167bf7;
    --cor-preta-back: #00030C;

    --fonte--principal: 'Inter', sans-serif;
}

body{
    background-color: var(--cor-preta-back);
    color: var(--cor-branca-pri);
    font-family: var(--fonte--principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
margin: 0 6rem;
}

.container__imagem{
margin: 2rem 0 2rem 0;
}

.container__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}

.container__botao{
    background-color: var(--cor-azul-bot);
    border-radius: 5px;
    padding: 1rem;
    display: block;
    color: var(--cor-branca-pri);
    text-decoration: none;
    margin-bottom: 1rem;
}

.botao__secudario{
    background-color: transparent;
    border: 2px solid var(--cor-branca-pri);
}

.container__aviso{
    color: var(--cor-cinza-sec);
    font-size: 0.75rem;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10rem;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    color: var(--fonte--principal);
    margin-bottom: 0.2rem ;
}

.descricao__texto{
    color: var(--cor-cinza-sec);
}

.secundario__botao{
    margin-top:1.5rem ;
    display: inline-block;
}

.container__descricao{
    padding: 1.5rem;
}